.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    position: relative;
    left: 65px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    bottom: 60px;
    h1 {
      width: 470px;
      font-size: 43px;
      font-style: normal;
      font-family: "Switzer", sans-serif;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
      text-align: left;
      margin-bottom: 0;
      .multiColor {
        background: linear-gradient(91deg, #c70025 20.28%, #f8ba53 85.47%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      width: 499px;
      color: #c4c3c5;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .btnFlex {
      display: flex;
      align-items: center;
      gap: 20px;
      button {
        padding: 18px 36px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
      }
      .firstBtn {
        border-radius: 8px;
        background: #c70025;
        border: none;
      }
      .secBtn {
        border: 1px solid transparent;
        background: transparent;
        &:hover {
          border: 1px solid #c70025;
          border-radius: 8px;
        }
      }
      .flex {
      }
    }
  }
  .right {
    position: relative;
    bottom: 30px;
    img {
      width: 608px;
    }
  }
}
