.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
  .navLeft {
    .navImg {
      width: 210px;
    }
  }
  .navRight {
    ul {
      display: flex;
      color: #fff;
      align-items: center;
      gap: 20px;
      li {
        cursor: pointer;
      }
      .logBtn {
        padding: 16px 36px;
        background: transparent;
        color: #fff;
        border-radius: 8px;
        border: none;
        border: 2px solid transparent;
        transition: var(--transition);
        &:hover {
          border: 2px solid #c70025;
        }
      }
      .signBtn {
        padding: 16px 36px;
        background: transparent;
        color: #fff;
        border-radius: 8px;
        border: 2px solid #c70025;
        &:hover {
          background: transparent;
        }
      }
    }
  }
}
